header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

header .logo {
  color: #222;
  font: bold 50px 'Comfortaa', cursive;
  text-decoration: none;
  text-transform: uppercase;
  transition: text-shadow 1s;
}
body:hover header .logo {
  text-shadow: 0 0 10px yellow;
}
body:hover header .logo:hover,
body:hover header:hover .logo:hover {
  text-shadow: 0 0 5px yellow;
}
body:hover header:hover .logo {
  text-shadow: 0 0 15px yellow;
}

header .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
